<thead>
    <tr>
      <th>Email</th>
      <th>Object</th>
      <th>Content</th>
      <th>Erase</th>
      
    </tr>
  </thead>

  <tbody>
    
      <tr>
        <td><%=  %></td> <!-- @email.id  -->
        
        <td><%=  %></td> <!-- @email.object  -->

        <td><%=  %></td>     <!-- @email.body -->
		

        <td> here the delete method </td>
      </tr>
  
  </tbody>